<article id="contact" class="wrapper style4">
				<div class="container medium">
					<header>
								<p>
								</p>
							<p>
							My mail: flsab45@gmail.com
							</p>
							<p>
							My Phone Number: +1 111 111 11 11
							</p>
						</p>
					</header>
					<div class="row">
						<div class="col-12">
							<hr />
							<h3>Find me on ...</h3>
							<ul class="social">
								<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>			
								<li><a href="#" class="icon brands fa-vk"><span class="label">VK</span></a></li>
								<li><a href="#" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						
					</footer>
				</div>
			</article>