<!-- Portfolio -->
			<article id="portfolio" class="wrapper style3">
				<div class="container">
					<header>
						<h2>Here’s some stuff I made recently.</h2>
					</header>
					<div class="row">
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="https://github.com/Skrrrrra/MyFirstAspNetProject" class="image featured"><img src="/pic01.jpg" alt="" /></a>
								<h3><a href="https://github.com/Skrrrrra/MyFirstAspNetProject">My first ASP.NET project</a></h3>
								<p>ty that video</p>
							</article>
						</div>
						<div class="col-4 col-6-medium col-12-small">
							<article class="box style2">
								<a href="https://github.com/Skrrrrra/MyLastCoursWorkTry" class="image featured"><img src="/pic02.jpg" alt="" /></a>
								<h3><a href="https://github.com/Skrrrrra/MyLastCoursWorkTry">My first courswork</a></h3>
								<p>
									WPF + MS Sql
								</p>
							</article>
						</div>
						
					</div>
					<footer>
						<div class="container medium">
						<strong><p>
							<h2>Мой стэк технологий:</h2>
							<h4>
								<p>
								Основа: C# + WPF + Entity.Framework
								В данный момент изучаю ASP.NET Core MVC 5 для полного перехода на эту технологию.
							</p>
							Неосновной стэк(умения):
							Простая верстка, небольшое знание CSS, JS
							<p>Cоздание десктоп приложений при помощи WPF, подключение их к базам данных</p>
							<p>Написание юнит тестов</p>
							<p>Система контроля версий Git(push,merge,pull,commit)</p>
							</p>
							</h4>
						</strong>
						</div>
					</footer>
				</div>
			</article>